
body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 250px;

  @media only screen and (min-width: $break-footer) {
    padding-bottom: 70px;
  }
}

.main {
  background: $cararra;
}

