
.slider-section {

  .slick-banner {
    
    .slick-item--banner1 {
      background-image: url("../images/layout/banner1.jpg");
    }

    .slick-item--banner2 {
      background-image: url("../images/layout/banner2.jpg");
    }

    .slick-item__title {
      margin-top: 125px;
      margin-bottom: 20px;
      padding: 40px 70px;
      font-size: 60px;
      font-weight: bold;
      text-transform: uppercase;
      border: 8px solid white;
      color: white;
      display: inline-block;

      @media only screen and (max-width: $break-max-large) {
        font-size: 40px;
        padding: 20px 35px;
      }

      @media only screen and (max-width: $break-max-medium) {
        font-size: 30px;
        padding: 20px 35px;
      }

      @media only screen and (max-width: $break-max-small) {
        padding: 20px;
        margin-top: 100px;
      }
    }

    .slick-item__resume {
      max-width: 425px;
      margin: 10px auto 0;
      color: white;
    }
  }

}

.offers-section {
  .offer-box {
    max-width: 250px;
    margin: 0 auto;

    @media only screen and (max-width: $break-max-small) {
      margin-bottom: 60px;
    }
  }

  .offer-row .columns:last-child {
    .offer-box {
      @media only screen and (max-width: $break-max-small) {
        margin-bottom: 0;
      }
    }
  }

}

.accommodation-section {
  padding-bottom: 100px;

  @media only screen and (min-width: $break-min-large) {
    padding-bottom: 190px;
  }

  .accommodation-box {
    margin-top: 15px;

    @media only screen and (max-width: $break-max-medium) {
      text-align: center;
      max-width: 380px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
    }
  }

  .third-title {
    margin-bottom: 0.8rem;
  }

  .button--accommodation {
    margin-top: 25px;
  }
}


.contact-section {
  .form-box {
    max-width: 555px;
    margin: 0 auto 20px;
    padding: 0 30px;
  }
}
